* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  font-size: 2.5rem;
  text-align: center;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

section {
  padding: 60px 0; /* Espaçamento superior e inferior */
  background-color: #fff;
  text-align: center; /* Centraliza o conteúdo da seção */
}

section h2 {
  font-size: 2rem;
  margin-bottom: 40px; /* Aumenta a margem inferior para afastar do conteúdo abaixo */
}

.container {
  display: flex; /* Usar flexbox para o contêiner */
  flex-wrap: wrap; /* Permitir que os cartões se movam para a próxima linha */
  justify-content: center; /* Centralizar os cartões horizontalmente */
  width: 100%; /* Garantir que o contêiner ocupe toda a largura */
  padding: 0 20px; /* Adiciona um pouco de padding lateral ao contêiner */
}

.project-card {
  display: flex; /* Usar flexbox para o cartão */
  flex-direction: column; /* Alinhar os itens em coluna */
  align-items: center; /* Centralizar o conteúdo do cartão */
  width: 300px; /* Definir uma largura fixa para os cartões */
  margin: 20px; /* Espaçamento entre os cartões */
  background-color: #e1e1e1;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.project-card img {
  width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  max-height: 220px; /* Define uma altura máxima */
  object-fit: contain; /* Ajusta a imagem para caber no contêiner sem cortar */
  border-radius: 10px; /* Mantém o arredondamento dos cantos */
}

.project-card h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.project-card p {
  margin: 10px 0;
}

.project-card a {
  color: #007BFF;
  text-decoration: none;
  font-size: 1rem;
}

form label {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #1a1a1a; /* Cor de fundo preto mais fosco */
  color: #fff; /* Cor do texto em branco */
  text-align: center;
  padding: 20px 0;
}

footer a {
  color: #fff; /* Cor dos links em branco */
  text-decoration: none; /* Remove o sublinhado dos links */
  margin: 0 10px; /* Espaçamento entre os ícones */
}

footer a:hover {
  color: #f0f0f0; /* Cor dos links ao passar o mouse */
}